@function get-stackable-color($type) {
  $color: null;

  @if ($type == header) or (type == footer) {
    $color: blue;
  } @else if ($type == section) {
    $color: black;
  } @else if ($type == subsection) {
    $color: red;
  }

  @return $color;
}

@mixin stackable-margin($type) {
  @if ($type == header) {
    margin-bottom: 200px;
  } @else if ($type == footer) {
    margin-top: 200px;
  } @else if ($type == section) {
    margin-bottom: 200px;

    &:last-child {
      margin-bottom: 0;
    }
  } @else if ($type == subsection) {
    margin-bottom: 200px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin common-stackable($type) {
  $border-color: get-stackable-color($type);
  border: solid 2px $border-color;

  @include stackable-margin($type);
}
